*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-image: url(../Images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    max-height: fit-content;
}

input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
.logo{
    display: flex;
    justify-content: start;
    margin-bottom: 100px;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 22px;
  
}

h1{
    max-width: 25ch;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(300, 44%, 96%);
}

p{  
    max-width: 50ch;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif; 
    color: hsl(300, 44%, 96%);
    font-weight: 400;
}

.btn > button{
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    border-radius: 4rem;
    padding: 12px;
    width: 250px;
    box-shadow: 5px 5px 10px 2px hsl(257, 39%, 35%);
    margin-top: 20px;
}
.btn > button:hover{
    color:hsl(300, 44%, 96%);
    background-color: hsl(300, 69%, 71%);
}
.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 300px;
    background-color: aliceblue;
    margin: 50px 0 50px 500px;
    border: 2px solid hsl(300, 69%, 71%) ;
    border-radius: 15px;
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;    
}
.illus{
    width: 600px; 
    height: 250px;
}
.text > h2{
    color: rgb(39, 38, 38);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
}
.text > p{
    color: rgb(85, 85, 85);
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}
 footer{
    background-color:hsl(257, 47%, 28%);
    width: 100%;
    height: 150px;
 }
.social{
    background-color:hsl(257, 47%, 28%);
    display: flex;
    justify-content:end;
    width: 100%;
    gap: 15px; 
}
.footertxt{
    display: flex;
    justify-content: center;
    width: 100%;
}
 @media screen and (max-width: 740px) {
    .logo{
        justify-content: center;
    }
.container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
button{
    margin-bottom: 100px;
}
h1{
    max-width: 50ch;
    font-size: 2rem;
    text-align: center;
}
p{
    max-width: none;
    font-size: 1rem;
    text-align: center;
}

.container2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    margin: 50px auto;
}
.illus{
    width: 150px;
    height:150px;
}

.social{
        display: flex;
        justify-content: center;
        width: 100%;
    }

 }


